.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image{
  height: 600px;
  object-fit: cover;
}
.counter-btn{
  width: 50px;
  display: inline;
  align-items: center;
  margin-right: 1rem;
}
.button{
  margin-bottom: 10px;
}
